// resposnive
$responsive-mode: 'fluid-fixed'; // options: 'fluid' or 'fluid-fixed'

// break points
$phone: 575px;
$phablet: 767px;
$tablet: 991px;
$desktop: 1199px;

// grid
$column-number: 12;
$column-gap: 30px;
$width-grid: 1170px;